# Enter the URL of your Plex server in the quotes below
BASEURL=''  # Example: 'http://192.168.1.100:32400'

# Enter your Plex API token in the quotes below
TOKEN=''  # Example: 'f6a5e7a6d9f6a8d6f7a5e8d5'


# Enter the URL of your Plex server in the quotes below
PLEX_BASEURL=""  # Example: "https://plex.hidea.synology.me"

# Enter your Plex API token in the quotes below
PLEX_TOKEN=""  # Example: "f6a5e7a6d9f6a8d6f7a5e8d5"


# JELLYFIN
JELLYFIN_BASEURL = "http://jellyfin.lan:8096"
JELLYFIN_TOKEN = "b2edfe72600b43dbb10210df6bbc0c38"
JELLYFIN_USER_ID = "bd0e8569c082436d99422d0e5f9df755"

# SONARR & RADARR
RADARR_URL = ""
SONARR_URL = ""
RADARR_API_KEY = ""
SONARR_API_KEY = ""
DAYS_AHEAD = 7
RADARR_SONARR_LOGO = "plexlogo.png" # which logo to add as the upcoming location

# TMDB (NEEDED FOR SONARR & RADARR and TMDB
TMDB_BASE_URL = "https://api.themoviedb.org/3"
TMDB_IMG_BASE = "https://image.tmdb.org/t/p/original"
TMDB_BEARER_TOKEN = ""

# TRAKT
TRAKT_RADARR_API_KEY = ""
TRAKT_USERNAME = ""
TRAKT_LISTNAME = ""
